#canvasTime {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#dashboard {
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

#date {
    margin: 0 auto;
    align-content: center;
}

#time {
    margin: 0 auto;
    align-content: center;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

#weather {
    margin: 0 auto;
    align-content: center;
}

#time h3{
    text-align: center;
}

#date h3{
    text-align: center;
}

#weather h3{
    text-align: center;
}

.container {
    opacity: 1;
}