body {
    padding-top: 90px;
}

section{
	padding: 30px 0;
}

.places-been-default {
    padding-top: 20px; 
}

.ourplace {
    font-family: fantasy, 'Oswald', sans-serif !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
    /*color: #0383c0;*/
}

.placeBM {
    padding-top: 110px !important;
    padding-bottom: 10px;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 13px;
	bottom: 70px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

.section-gray {
	background: #f4f4f4;
}

.section-primary {
	background: #0383c0;
	color: #fff;
	padding: 60px 0;
}

.section-secondary {
	background: #e44d26;
	color: #fff;
	padding: 60px 0;
}

.section-technology {
	background: #f8f8f8;
	color: #777;
	padding: 60px 0;
}

.section-places {
	background: #fff;
	color: #000;
	padding: 60px 0;
}

.section-title {
    display: block;
    width: 100%;
    align-content: center;
    padding: 10px;
    padding-bottom: 20px;
	background: #0383c0;
	color: #fff !important;
}

.section-title h2 {
    text-transform: uppercase !important;
    font-family: 'Oswald', sans-serif !important;
    font-size: 30px !important;
    color: #fff !important;
}

.section-title small {
	color: #ccc !important;
}

a:focus { 
    outline: none !important; 
}

a:active { 
    outline: none !important; 
}

a:hover { 
    outline: none !important; 
}

a::-moz-focus-inner {
    border: 0 !important;
    outline: none !important;
}

.nav {
	margin-top: 18px;
}

.navbar {
	min-height: 90px;
	margin-bottom: 0 !important;
}

.navbar-brand {
	height: auto;
	padding-top: 15px;
	margin: 0;
}

.navbar-brand img {
  display: block;
  max-width: 250px;
  max-height: 65px;
  width: auto;
  height: auto;
}

.navbar-nav {
	margin: 0;
	padding: 0;
}

.navbar-nav li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-nav > li > a {
	padding: 20px;
	font-size: 18px;
	font-weight: bold;
	border-right: 1px solid #ccc;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.navbar-nav > li > a span {
	margin: 5px 0 0 0;
	padding: 0;
	font-size: 14px;
	display: block;
	font-weight: normal;
	font-family: arial;
	text-transform: none;
    text-align: center
}

.caret {
  float: right !important;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.navbar-nav a:hover,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #0383c0 !important;
	color: #fff !important;
}

h1,h2,h3 {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

h4 {
	text-transform: none;
	font-family: 'Oswald', sans-serif;
}

.capt-meet {
    text-align: center
}

.fa-color {
	color: #0383c0;
}

.feature-list li {
	list-style: none;
	font-size: 18px;
	line-height: 2em;
}

.empty {
    width: auto !important;
    height: 0 !important;
    margin-top: 2px !important;
}

.logo-wrapper {
    display: block;
    float: left;
    width: 170px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footerborder {
    width: auto !important;
    height: 5px !important;
    background: #0383c0 !important;
    margin-top: -21px !important;
}

footer {
    display: block;
	height: 60px !important;
	background: #f4f4f4 !important;
	padding-top: 20px !important;
    color: #0383c0 !important;
}

.footer-logo {
    text-transform: none !important;
    font-family: fantasy, sans-serif !important;
    font-size: 21px !important;
    font-weight: bold;
}

.resume-close {
    min-height: 16.42857143px;
    padding: 15px;
    margin-right: 40px;
}

#footerinformation {
    text-align: center;
    padding-top: 15px;
    font-size: 14px !important;
}

#compliance {
  height: 45px;
  padding-top: 15px;
}

.btn-resume.btn-round {
	border-radius: 25px;
    margin-bottom: 10px;
}

btn-resume::-moz-focus-inner {
    border: 0;
    outline: none !important;
}

btn-resume:focus {
    outline: none !important;
}

.btn-primary.btn-gradient {
    outline: none !important;
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #33a6cc 50%, #0099cc 50%); /* W3C */
}

.btn-primary.btn-gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
    outline: none !important;
	background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
	background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.btn-gradient:active, .btn-primary.gradient.active {
    outline: none !important;
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

h3.jenkins-title {
    display: block !important;
    text-align: center !important;
    font-family: "georgia",Times,Times New Roman,serif;
    font: bold 2rem "georgia" !important;
    margin-top: -0.1rem !important;
}

#tools {
    display: block !important;
    float: left !important;
    max-width: 120px !important;
    width: 110px !important;
    margin-right: 10px !important;
    margin-left: 20px !important;
    margin-bottom: 20px !important;
}

img.jenkins-logo {
    display: block !important;
    text-align: center !important;
    margin-top: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    top: 10px !important;
    width: 50px !important;
}

img.git-logo {
    display: block !important;
    text-align: center !important;
    margin-top: 20px!important;
    margin-left: auto !important;
    margin-bottom: auto !important;
    width: 100px !important;  
}

.img-customer {
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 5px !important;
    border-bottom: 0px !important;
    padding: 0px !important;
    margin-left: 0px !important;
}

#ecowebhosting {
    margin-left: 10px !important;
}

.img-rotate {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.slider-size {
    background-color: #4d4d4d !important;
}

.slider-size img {
        max-height: 450px !important;
        width: auto !important;
        height: 95% !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
}

.img-center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.img-been {
    display: block;
    max-width: 259px !important;
    max-height: 194px !important;
    width: auto !important;
    height: auto !important;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

.places-been {
    display: block;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

.been-text {
    border: 2px solid #0383c0 !important;
    box-shadow:  5px 5px 5px #888888;
}

.imageRight {
    float: right;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 5px;
    border: 10px solid white;
    -webkit-box-shadow: 0 0 5px #888888;
    box-shadow: 0 0 10px #888888;
}

.imageRight img, .imageRight span {
  display: block;
}

.imageRight span, .imageRight figcaption {
  text-align: center;
  margin-top: 8px;
}

.imageLeft {
    float: left;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 5px;
    border: 10px solid white;
    -webkit-box-shadow: 0 0 5px #888888;
    box-shadow: 0 0 10px #888888;
}

.imageLeft img, .imageLeft span {
  display: block;
}

.imageLeft span, .imageLeft figcaption {
  text-align: center;
  margin-top: 8px;
}

img.wrap-txt {
    float: left;
    margin-right: 15px;
    margin-bottom: 0px;
}

.lb-logo h1 {
    float: left;
    display: block !important;;
    color: #000 !important;
    font-family: "Roboto","Helvetica","lucida grande",sans-serif !important;
    font-weight: 400 !important;
}

#brackets-logo {
    text-transform: capitalize !important;
    font-size: 28px !important;
    font-weight: 400 !important;
    text-align: inherit !important;
}

.brackets-icon img {
    width: 120px !important;
    height: 120px !important;
    margin-right: 1px !important;
}

.brackets-logo h3 {
    display: inline-block !important;;
    color: #29AAE2 !important;
    font-family: "Roboto","Helvetica","lucida grande",sans-serif !important;
    font-weight: 400 !important;
    margin-left: 10px !important;
}

 /* unvisited link */
.lb-logo a:link {
    color: #000 !important;
    text-decoration: none !important;
    outline: none !important;
}

/* visited link */
.lb-logo a:visited {
    color: #000 !important;
    text-decoration: none !important;
    outline: none !important;
}

/* mouse over link */
.lb-logo a:hover {
    color: #000 !important;
    text-decoration: none !important;
    outline: none !important;
}

/* selected link */
.lb-logo a:active {
    color: #000 !important;
    text-decoration: none !important;
    outline: none !important;
}

 /* unvisited link */
.Brackets-logo a:link {
    color: #29AAE2 !important;
    text-decoration: none !important;
    outline: none !important;
}

/* visited link */
.Brackets-logo a:visited {
    color: #29AAE2 !important;
    text-decoration: none !important;
    outline: none !important;
}

/* mouse over link */
.Brackets-logo a:hover {
    color: #29AAE2 !important;
    text-decoration: none !important;
    outline: none !important;
}

/* selected link */
.Brackets-logo a:active {
    color: #29AAE2 !important;
    text-decoration: none !important;
    outline: none !important;
}

.picture-icon {
    float: left;
    height: 45px;
    margin-right: 1px;
    width: 45px;
}

.logo-credit {
    color: #444;
    display: block;
    margin-bottom: 1em;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.panel-body {
    color: #0383c0;
}

/* Accordion Icon */
.accordion-icon {
    float: right;
    display: block;
    width: 35px;
    height: 35px;
    margin-top: -9px;
    margin-right: -12px;
    color: #000;
    outline: none !important;
}

.accordion-icon i {
    display: block;
    margin-top: 7px;
    margin-right: 7px;
    outline: none !important;
}

.panel-heading.active {
    outline: none !important;
    background-color: #00C0FF !important;
    text-decoration: none !important;
}

.panel-color {
    background-color: #f5f5f5 !important;
    outline: none !important;
}

.panel-color.on {
    background-color: #00c0ff !important;
    border: 0 !important;
    border: 1px #00c0ff solid !important;
    outline: none !important;
}

.panel-heading a:link {
    text-decoration: none !important;
    outline: none !important;
}

.panel-heading a:visited {
    text-decoration: none !important;
    outline: none !important;
}

a:hover, a:hover .accordion-icon {
    text-decoration: none !important;
    outline: none !important;
}

.panel-heading a:active {
    text-decoration: none !important;
    outline: none !important;
}
/* /Accordion Icon */

#map, #pano {
    float: left;
    margin-top: 20px;
    height: 450px;
    width: 50%;
    background-color: white;
}

.section-dk-gray {
    background-color: #ccc !important;
    background-color: rgb(12, 12, 12);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    margin-top: -15px;
}


@media(max-width:990px) {
	.navbar-header {
		float: none;
	}

	.navbar-left, .navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none;
		margin-top: 7.5px;
	}

	.navbar-nav > li {
		float: none;
	}

	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
		border-right: none;
	}

	.collapse.in {
		display: block !important;
	}

}

@media (min-width: 640px) {
.logo-credit {
    padding-left: 57px;
    position: relative;
    top: -3px;
    }
}